:root {
  --blue: #00acdc;
  --black: #000;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 50px;
}

.nav__logo {
  width: 40px;
  height: 40px;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 20px;
}

.nav__link {
  text-transform: uppercase;
  color: var(--black);
  line-height: 60px;
  font-size: 12px;
  text-decoration: none;
  display: block;
  position: relative;
}

.is-active {
  color: var(--blue);
}

.is-active::after {
  content: '';
  height: 4px;
  background: var(--blue);
  border-radius: 16px;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.nav__link:hover {
  color: var(--blue);
}
