*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --blue: #00acdc;
  --black: #000;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  background: #fff;
}

img {
  width: 40px;
  height: 40px;
  margin-left: 50px;
}

.nav {
  margin-right: 50px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link:not(:first-child) {
  margin-left: 22px;
  list-style: none;
}

a {
  position: relative;
  font-size: 12px;
  color: var(--black);
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: var(--blue);
}

.is-active {
  color: var(--blue);
}

.is-active::after {
  content: '';

  position: absolute;
  bottom: 6px;
  left: 0;

  width: 100%;
  height: 4px;
  border-radius: 8px;

  background-color: var(--blue);
}

[data-qa='hover']:hover {
  color: var(--blue);
}
