body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  background: #fff;
}

img {
  width: 40px;
  height: 40px;
  margin-left: 50px;
}

nav {
  margin-right: 50px;
}

ul {
  display: flex;
  justify-content: space-between;
}

li {
  margin-left: 22px;
  list-style: none;
}

a {
  position: relative;
  font-size: 12px;
  color: #000;
  text-decoration: none;
}

.is-active {
  color: #00acdc;
}

.is-active::after {
  content: '';

  position: absolute;
  bottom: -18.5px;
  left: 0;

  width: 100%;
  height: 4px;
  border-radius: 8px;

  background-color: #00acdc;
}

[data-qa='hover']:hover {
  color: #00acdc;
}
